body{
	background-image: url("background.png");
	background-attachment: fixed;
	margin: 0px;
}

section{
	background-color: white;
	text-align: center;
	vertical-align: top;
	padding-bottom: 40px;
}

h1{
	padding: 0px;
	margin: 0px;
	display: inline;
	font-family: "Segoe UI", "Myriad Pro", arial;
	font-size: 60px;
	font-weight: normal;
	color: white;
}

h2{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	font-family: "Myriad Pro", arial;
	font-weight: normal;
}

header{
	padding: 0px;
	margin: 0px;
}

p{
	margin: 0px;
	padding: 10px 0px;
	font-size: 18px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a{
	font-family: "Myriad Pro", arial;
	font-weight: normal;
	color: white;
	text-decoration: none;
}

.header-baseline{
	background-color: #263238;
	color: white;
	text-align: center
}

.text{
	font-family: "Myriad Pro", arial;
	font-weight: normal;
	color: #37474f;
}

.header-text{
	font-size: 30px;
	color: white;
}

.header-links{
	margin: 0px auto;
	padding: 20px;
	background-color: #2079a5;
	text-align: center;
}

.header-links ul{
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.navigation-links{
	display: inline-block;
	padding: 0px 30px;
	text-align: center;
}

.content-head{
	background: rgba(32, 121, 165, 0.35);
	text-align: center;
	padding: 20px;
}

.content-head div{
	text-align: center;
	background-color: black;
}

.content-title{
	text-align: center;
	padding-bottom: 20px;
}

.learning-group{
	max-width: 550px;
	display: inline-block;
	text-align: justify;
	padding: 40px 40px 0px;
	vertical-align: top;
	margin: auto;
}

.skill-group{
	max-width: 480px;
	display: inline-block;
	text-align: left;
	padding: 40px 0px 0px;
	vertical-align: top;
	width: 100%;
}

.skill-list{
	padding: 0px 20px;
}

.skill{
	max-width: 400px;
    min-width: 246px;
	height: 30px;
	background: #2f9fd6;
	line-height: 30px;
	margin: 20px auto;
	width: 100%;
}

.skill-level:hover{
	background: rgba(55, 71, 79, 0.7);
}

.skill-level{
	background: #0b2a3a;
	padding: 0px 5px;
	font-size: 18px;
	color: white;
}

.title-picture{
	height: 21px;
	display: inline-block;
	padding-right: 8px;
}

.separator{
	width: 70%;
	border-bottom: #edd98a solid 2px;
	margin: auto;
	padding-bottom: 15px;
	display: inline-block;
}

.footer{
	background: rgba(32, 121, 165, 0.35);
	text-align: center;
	padding: 20px;
}

.footer-text{
	font-size: 30px;
	color: white;
}

.footer-picture{
	height: 25px;
	padding: 0 8px;
}

#header-text-summary > p{
	margin: 5px auto;
}

#header-text-summary{
	display: inline-block;
}


#header-summary{
	display: inline-block;
	text-align: left;
	margin: 15px auto;
}

#header-photo{
	width: 128px;
	height: 128px;
	margin-right: 5px;
	display: inline-block;
}

#name{
	font-family: Arial;
	font-weight: bold;
	font-size: 36px;
}

#mailingLink{
	height: 18px;
}

#android{
	width: 80%;
}

#java{
	width: 70%;
}

#html-css{
	width: 65%;
}

#javascript{
	width: 65%;
}

#moe{
	width: 70%;
}

#conception-specification{
	width: 75%;
}

#team-management{
	width: 70%;
}

#methodes-agiles{
	width: 88%;
}

#design{
	width: 60%;
}

#photoshop{
	width: 70%;
}

#invision{
	width: 65%;
}

#ergonomie{
	width: 60%;
}

#my-research{
	max-width: 1180px;
	text-align: justify;
	margin: auto;
	padding: 40px 40px 0;
}

@media screen and (max-width: 1150px) {
  .navigation-links{
  	display: list-item;
  	padding: 0px;
  }
}

@media screen and (max-width: 1350px) {
  .learning-group{
  	padding: 40px 15px 0;
  }

  #my-research{
  	padding: 40px 15px 0;
  }
}

@media screen and (max-device-width:480px){
	p{
		font-size: 36px;
	}

	.skill-level{
		font-size: 36px;
	}

	.skill{
		height: 45px;
   		line-height: 45px;
	}
}