body{
	background-image: url("background.png");
	background-attachment: fixed;
	margin: 0px;
}

section{
	background-color: white;
	text-align: center;
}

h1{
	padding: 0px;
	margin: 0px;
	display: inline;
	font-family: "Segoe UI", "Myriad Pro", arial;
	font-size: 60px;
	font-weight: normal;
	color: white;
}

h2{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	font-family: "Myriad Pro", arial;
	font-weight: normal;
}

header{
	padding: 0px;
	margin: 0px;
}

p{
	margin: 0px;
	padding: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a{
	font-family: "Myriad Pro", arial;
	font-weight: normal;
	color: white;
	text-decoration: none;
}

.header-baseline{
	background-color: #263238;
	color: white;
	text-align: center
}

.text{
	font-family: "Myriad Pro", arial;
	font-weight: normal;
}

.header-text{
	font-size: 30px;
	color: white;
}

.header-links{
	margin: 0px auto;
	padding: 20px;
	background-color: #2079a5;
	text-align: center;
}

.header-links ul{
	margin: 0px;
	padding: 0px;
}

.header-links li{
	display: inline;
	padding: 0px 30px;
}

.content-head{
	background: rgba(32, 121, 165, 0.35);
	text-align: center;
	padding: 20px;
}

.content-head div{
	text-align: center;
	background-color: black;
}

.content-title{
	text-align: center;
	padding-bottom: 20px;
}

.learning-group{
	width: 28%;
	display: inline-block;
	text-align: justify;
	padding: 40px;
}

.skill-group{
	width: 25%;
	display: inline-block;
	text-align: left;
	padding: 40px 10px;
}

.skill-list{
	padding: 0px 20px;
}

.skill{
	width: 400px;
	height: 30px;
	background: #2f9fd6;
	line-height: 30px;
	margin: 20px auto;
	color: white;
}

.skill-level{
	background: #0b2a3a;
	padding: 0px 5px;
	font-size: 18px;
}

.my-research{
	width: 60%;
	text-align: justify;
	margin: auto;
	padding: 40px 0px;
}

.title-picture{
	height: 21px;
	display: inline-block;
	padding-right: 8px;
}

.separator{
	width: 70%;
	border-bottom: #edd98a solid 2px;
	margin: auto;
	padding-bottom: 15px;
	display: inline-block;
}

.footer{
	background: rgba(32, 121, 165, 0.35);
	text-align: center;
	padding: 20px;
}

.footer-text{
	font-size: 30px;
	color: white;
}

.footer-picture{
	height: 25px;
	padding: 0 8px;
}

#header-text-summary > p{
	margin: 5px auto;
}

#header-text-summary{
	display: inline-block;
}


#header-summary{
	display: inline-block;
	text-align: left;
	margin: 15px auto;
}

#header-photo{
	width: 128px;
	height: 128px;
	margin-right: 5px;
	display: inline-block;
}

#name{
	font-family: Arial;
	font-weight: bold;
	font-size: 36px;
}

#mailingLink{
	height: 18px;
}

#android{
	width: 80%;
}

#java{
	width: 70%;
}

#html-css{
	width: 65%;
}

#javascript{
	width: 65%;
}

#moe{
	width: 70%;
}

#conception-specification{
	width: 75%;
}

#team-management{
	width: 70%;
}

#methodes-agiles{
	width: 88%;
}

#design{
	width: 60%;
}

#photoshop{
	width: 70%;
}

#invision{
	width: 65%;
}

#ergonomie{
	width: 60%;
}